# Trọng số mô hình (Model files)
*.pt
*.pth

# Biểu đồ đánh giá (Plots and Images)
loss_plot.png
acc_plot.png
confusion_matrix.png

# Python cache và virtual environment
__pycache__/
*.pyc
venv/
ai_project/

# Các file dữ liệu nén, data lớn, hoặc trọng số khác
*.zip
*.rar
*.7z
*.csv
*.h5
*.npy
*.safetensors